@model BaseModel.CriarLote

@{
    ViewBag.Title = "Editar Lote";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
     
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CriarLoteID)

        <div class="form-group">
            @Html.LabelFor(model => model.Lote, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lote, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Lote, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar Alterações" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
   @Html.ActionLink("Voltar para lista de Lotes", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
