@model  BaseModel.Estoque

@{
    ViewBag.Title = "Cadastrar produto no Estoque";
}


<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @*//radio button
    <div>
        @Html.RadioButtonFor(model => model._Situacao, 0) &nbsp; &nbsp;@Html.Label("Nova")
        @Html.RadioButtonFor(model => model._Situacao, 1)@Html.Label("Remanufatura")
    </div>*@

  
        @Html.AntiForgeryToken()
        <div style="margin:20px 0 20px 0">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.LoteID, "Lote", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("LoteID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LoteID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


 

    //caixa de opção
        <div  style="margin:70px 0 20px 0">
                @Html.LabelFor(model => model._Situacao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*<div class="checkbox">*@
                        @Html.EnumDropDownListFor(model => model._Situacao, null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model._Situacao, "", new { @class = "text-danger" })
                    @*</div>*@
                </div>
            </div>
       

        <div style="margin:118px 0 20px 0">
            @Html.LabelFor(model => model.DataEntrada, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataEntrada, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataEntrada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="margin:168px 0 20px 0">
            @Html.LabelFor(model => model.DataSaida, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataSaida, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataSaida, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="margin:220px 0 20px 0">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Novo" class="btn btn-primary" />
            </div>
        </div>

}

<div>
    @Html.ActionLink("Mostrar Estoque", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
