@model BaseModel.Estoque

@{
    ViewBag.Title = " ";
}

<h2>@ViewBag.Title</h2>

<h3 style="color:red">Deseja Excluir realmente?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model._Lote.LoteFerramenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Lote.LoteFerramenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._Situacao)
        </dt>       
        <dd>
            @Html.DisplayFor(model => model._Situacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSaida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSaida)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger " /> |
            @Html.ActionLink("Mostrar Estoque", "Index")
        </div>
    }
</div>
